<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bd7b2915a7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/add.css}" />
    <title>Form thêm mới</title>
</head>
<body>
<div class="container">

    <div class="form">
        <!-- Hiển thị thông báo lỗi nếu có -->
        <div th:if="${not #strings.isEmpty(errorMessage)}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <form th:action="@{/transaction/add}" th:object="${transaction}" method="post">
            <table border="1">
                <tr>
                    <th colspan="2">THÊM MỚI</th>
                </tr>
                <tr>
                    <td class="info">
                        <i class="fa-solid fa-gamepad"></i>
                        <label for="transactionCode">Mã giao dịch</label>
                    </td>
                    <td><input type="text" name="transactionCode" id="transactionCode" th:field="*{transactionCode}" />
                        <span th:if="${#fields.hasErrors('transactionCode')}" th:errors="*{transactionCode}"></span></td>
                </tr>
                <tr>
                    <td class="info">
                        <i class="fa-solid fa-box-archive"></i>
                        <label for="idCustomer">Tên khách hàng</label>
                    </td>
                    <td>
                        <select id="idCustomer" name="idCustomer">
                            <option th:each="item : ${list}" th:value="${item.id}" th:text="${item.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <label>Loại dịch vụ</label>
                    </td>
                    <td class="serviceType">
                        <label><input type="radio" name="serviceType" value="Đất" th:checked="${transaction.serviceType == 'Đất'}"> Đất</label>
                        <label><input type="radio" name="serviceType" value="Nhà đất" th:checked="${transaction.serviceType == 'Nhà đất'}"> Nhà đất</label>
                        <span th:if="${#fields.hasErrors('serviceType')}" th:errors="*{serviceType}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <label for="transactionDate">Ngày giao dịch</label>
                    </td>
                    <td><input type="date" name="transactionDate" id="transactionDate" th:value="${transaction.transactionDate}">
                        <span th:if="${#fields.hasErrors('transactionDate')}" th:errors="*{transactionDate}"></span></td>
                </tr>

                <tr>
                    <td class="info">
                        <label for="price">Đơn giá</label>
                    </td>
                    <td>
                        <input type="text" name="price" id="price" th:field="*{price}">
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                    </td>
                </tr>
                <tr>
                    <td class="info">
                        <label for="area">Diện tích (m2)</label>
                    </td>
                    <td>
                        <input type="text" name="area" id="area" th:field="*{area}">
                        <span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="tdbtn">
                        <button type="submit">Thêm mới</button>
                        <a th:href="@{/transaction/list}">
                            <button type="button">Hủy</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
